<!DOCTYPE html>
<html lang="es">
<!-- Include Footer -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="../../public/stylesheets/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="../../public/stylesheets/css/app.css">
</head>
<body>
	<!-- Footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pay with Credit Card or Cash</h2>
						<p>With Just Hype Cash, you have interest-free installments with a card or cash at payment points. AND
							it's always safe!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Free shipping from $ 99.99</h2>
						<p>Just for being registered in Just Hype you have free shipping on thousands of products. It's a
							benefit of Market Points.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Security, from start to finish</h2>
						<p>¿You do not like me? ¡Return it! In Just Hype, there's nothing you can't do, because you're
							always protected.</p>
					</article>
				</div>
			</div>

			<div class="row">
				<article class="footer-data">
				<h2>Website developed by Franco Mainardi, Luis Cabello and <a href="https://www.linkedin.com/in/i%C3%B1aki-valencia-918555207/" target="_blank" > Iñaki Valencia </a></h2>
				<p>Programación II by <a href="https://www.digitalhouse.com" target="_blank" > Digital House </a></p>
				</article>
			</div>
		</div>
	</footer>
	<!-- /Footer -->
	
</body>	
</html>