<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Include Header -->
<%- include('./partials/headerLogueado')  %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Sing In</h2>
			</div>
<!-- form para login --> 
		<form action="" method="get">
			<input type="email" name="mail" placeholder= "username" value="">
			<input type="password" name="password" placeholder= "password" value=""> 
			<input type="checkbox" name="recordarme" value= "recordarme" >
		</form>
<!-- footer -->
	<%- include('./partials/footer.ejs')  %> 
<!-- /footer -->
</body>

</html>