<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Include Header -->
<%- include('./partials/headerLogueado')  %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Sign In</h2>
			</div>
<!-- form para login --> 
		<form action="/" method="get" class="logInForm">
			<label class= "letraForm"for="mail">E-mail:</label>
			<input type="email" name="mail" placeholder= "Username" value="">

			<label class= "letraForm" for="password"> Password: </label>
			<input type="password" name="password" placeholder= "Password" value=""> 

			<label class= "letraForm" for="checkbox"> Remind me </label>
			<input type="checkbox" name="recordarme" value= "remindMe" >

			<button type="submit"> Sign in </button>
		</form>
<!-- footer -->
	<%- include('./partials/footer.ejs')  %> 
<!-- /footer -->
</body>

</html>