<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Include Header -->


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Sign In</h2>
			</div>
<!-- form para login --> 

		<div class="wrapper fadeInDown">
			<div id="formContent">
			  <!-- Tabs Titles -->
			  <h2 class="active"> Sign in </h2>
		  
			  <!-- Icon -->
		  
			  <!-- Login Form -->
			<form class="form-especial" action="/products/store" method="POST" enctype="multipart/form-data">
				<input type="text" id="login" class="fadeIn second" name="email" placeholder="email">
				<input type="password" id="password" class="fadeIn third" name="contrasena" placeholder="password">
				<hr>
				<label class= "letraForm" for="checkbox"> Remind me </label>
				<input type="checkbox" name="recordarme" value= "remindMe" >
				<hr>
				<input type="submit" class="fadeIn fourth" value="Log In">
			  </form>
		  
			  <!-- Remind Passoword -->
			  <div id="formFooter">
				<a class="underlineHover" href="#">Forgot Password?</a>
			  </div>
		  
			</div>
		  </div>



<!-- footer -->
	<%- include('./partials/footer.ejs')  %> 
<!-- /footer -->
</body>

</html>