<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Add product</h2>
			</div>
		<!-- form para add product --> 
		<form action="/" method="get" class="logInForm">

			<div>
				<label for="Image of the product" class= "letraForm"> Image of the product: </label>
				<input type="file" name="img" placeholder= "image of the product" value="">
			</div>

			<div>
				<label for="Name of the product" class= "letraForm"> Name of the product: </label>
				<input type="text" name="name of the product" placeholder= "name of the product" value=""> 
			</div>

			<div>
				<label for="Description" class= "letraForm"> Description </label>
				<input type="text" name="descripction" value= "">
			</div>

			<div>
				<label for="age" class= "letraForm"> Upload date: </label>
				<input type="date" name="birthday" placeholder= "Upload date" value="">
			</div>

			<div>
				<button type="submit"> Add product </button>
			</div>
		</form>
			


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>