<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%if (logueado){%>
		<%- include("partials/headerLogueado.ejs") %>
		<%} else { %>
		<%- include("partials/headerNoLogueado.ejs") %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Get registered at Just Hype:</h2>
			</div>
			
			<div class="wrapper fadeInDown">
				<div id="formContent">
				  <!-- Tabs Titles -->
				  <h2 class="active"> Register </h2>
				  <!-- Icon -->
			  
				  <!-- Login Form -->
				  <form>
					<input type="text" id="login" name="mail" placeholder="mail">
					<hr>
					<input type="text" id="name" name="name" placeholder="name">
					<hr>
					<input type="text" id="apellido" name="surname" placeholder="apellido">
					<hr>
					<input type="password" id="password" name="password" placeholder="password">
					<hr>
					<label class= "letraForm" for="profilePic"> Choose a profile pic: </label>
					<input type="file" name="photo" placeholder= "Profile pic" value="">
					<hr>
					<input type="submit" class="fadeIn fourth" value="Register">
				  </form>
		
				</div>
			  </div>

		</div>
	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>